@import url(./normalize.css);

.app__title {
  font-size: 2rem;
  text-align: center;
}

.verse {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.verse__text {
  font-style: italic;
  margin-bottom: 1rem;
}

.verse__ref {
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.verse__btn {
  padding: 0.5rem 1rem;
  font-size: 1rem;
}
